*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/app/build/intermediates/javac/debugAndroidTest/compileDebugAndroidTestJavaWithJavac/classes/
/core/common/build/
/core/common/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/model/build/
/core/navigation/build/
/core/ui/build/
/data/build/
/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/auth/build/
/feature/auth/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/games/build/
/feature/games/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/learning/build/
/feature/learning/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/loading/build/
/feature/menu/build/
/feature/menu/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/parent-hub/build/
/feature/parent-hub/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/